<div>

    <h2 translate="wzpnApp.wynik.home.title">Wynik</h2>

    <button ui-sref-active="active" has-role="SEDZIA" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveWynikModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="wzpnApp.wynik.home.createLabel">Create a new Wynik</span>
    </button>
    <div class="modal fade" id="saveWynikModal" tabindex="-1" role="dialog" aria-labelledby="myWynikLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myWynikLabel" translate="wzpnApp.wynik.home.createOrEditLabel">Create or edit a Wynik</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="wynik.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="wzpnApp.wynik.wynik">Wynik</label>
                            <input type="text" class="form-control" name="wynik"
                                   ng-model="wynik.wynik">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.bramkiPierwszej">BramkiPierwszej</label>
                            <input type="text" class="form-control" name="bramkiPierwszej"
                                   ng-model="wynik.bramkiPierwszej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.bramkiDrugiej">BramkiDrugiej</label>
                            <input type="text" class="form-control" name="bramkiDrugiej"
                                   ng-model="wynik.bramkiDrugiej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.zoltePierwszej">ZoltePierwszej</label>
                            <input type="text" class="form-control" name="zoltePierwszej"
                                   ng-model="wynik.zoltePierwszej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.zolteDrugiej">ZolteDrugiej</label>
                            <input type="text" class="form-control" name="zolteDrugiej"
                                   ng-model="wynik.zolteDrugiej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.czerwonePierwszej">CzerwonePierwszej</label>
                            <input type="text" class="form-control" name="czerwonePierwszej"
                                   ng-model="wynik.czerwonePierwszej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.czerwoneDrugiej">CzerwoneDrugiej</label>
                            <input type="text" class="form-control" name="czerwoneDrugiej"
                                   ng-model="wynik.czerwoneDrugiej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.uwagi">Uwagi</label>
                            <input type="text" class="form-control" name="uwagi"
                                   ng-model="wynik.uwagi">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteWynikConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(wynik.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="wzpnApp.wynik.delete.question" translate-values="{id: '{{wynik.id}}'}">Are you sure you want to delete this Wynik?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="wzpnApp.wynik.wynik">Wynik</th>
                    <th translate="wzpnApp.wynik.bramkiPierwszej">BramkiPierwszej</th>
                    <th translate="wzpnApp.wynik.bramkiDrugiej">BramkiDrugiej</th>
                    <th translate="wzpnApp.wynik.zoltePierwszej">ZoltePierwszej</th>
                    <th translate="wzpnApp.wynik.zolteDrugiej">ZolteDrugiej</th>
                    <th translate="wzpnApp.wynik.czerwonePierwszej">CzerwonePierwszej</th>
                    <th translate="wzpnApp.wynik.czerwoneDrugiej">CzerwoneDrugiej</th>
                    <th translate="wzpnApp.wynik.uwagi">Uwagi</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="wynik in wyniks">
                    <td><a ui-sref="wynikDetail({id:wynik.id})">{{wynik.id}}</a></td>
                    <td>{{wynik.wynik}}</td>
                    <td>{{wynik.bramkiPierwszej}}</td>
                    <td>{{wynik.bramkiDrugiej}}</td>
                    <td>{{wynik.zoltePierwszej}}</td>
                    <td>{{wynik.zolteDrugiej}}</td>
                    <td>{{wynik.czerwonePierwszej}}</td>
                    <td>{{wynik.czerwoneDrugiej}}</td>
                    <td>{{wynik.uwagi}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="wynikDetail({id:wynik.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button ui-sref-active="active" has-role="SEDZIA"
                        		type="submit"
                                ng-click="update(wynik.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button ui-sref-active="active" has-role="SEDZIA"
                        		type="submit"
                                ng-click="delete(wynik.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
