
<div>

<div  class="document">

    <h2 class="text-center">{{usluga.nazwa}}</h2> <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <span translate="wzpnApp.usluga.cena">Cena</span>
                    </td>
                    <td>
                        {{usluga.cena}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.usluga.podatek">Podatek</span>
                    </td>
                    <td>
                        {{usluga.podatek}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.usluga.usunieta">Usunieta</span>
                    </td>
                    <td ng-if="usluga.usunieta == null || usluga.usunieta == false">
                    NIE
                    </td>
                    <td ng-if="usluga.usunieta == true">
                    TAK
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <button type="submit"
            ui-sref="usluga"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
</div>
