<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div>

<div  class="document">
<h2 class="text-center">{{obiektSportowy.nazwa}}</h2>
<br>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.aktywny" >Aktywny</span>
                    </td>
                    <td ng-if="obiektSportowy.aktywny == true">
                    TAK
                    </td>
                     <td ng-if="obiektSportowy.aktywny == null || obiektSportowy.aktywny == false ">
                    NIE
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.miasto">Miasto</span>
                    </td>
                    <td>
                        {{obiektSportowy.miasto}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.kodPocztowy">KodPocztowy</span>
                    </td>
                    <td>
                        {{obiektSportowy.kodPocztowy}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.ulica">Ulica</span>
                    </td>
                    <td>
                        {{obiektSportowy.ulica}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.telefon">Telefon</span>
                    </td>
                    <td>
                        {{obiektSportowy.telefon}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.prezes">Prezes</span>
                    </td>
                    <td>
                        {{obiektSportowy.prezes}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.strona">Strona</span>
                    </td>
                    <td>
                        <a href="{{obiektSportowy.strona}}" target="_blank">{{obiektSportowy.strona}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.miejscaSiedzace">MiejscaSiedzace</span>
                    </td>
                    <td>
                       {{obiektSportowy.miejscaSiedzace}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.miejscaStojace">MiejscaStojace</span>
                    </td>
                    <td>
                        {{obiektSportowy.miejscaStojace}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.kryty">Kryty</span>
                    </td>
                      <td ng-if="obiektSportowy.kryty == null || obiektSportowy.kryty == false ">
                    NIE
                    </td>
                    <td ng-if="obiektSportowy.kryty == true">
                    TAK
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.oswietlenie">Oswietlenie</span>
                    </td>
                     <td ng-if="obiektSportowy.oswietlenie == null || obiektSportowy.oswietlenie == false">
                    NIE
                    </td>
                    <td ng-if="obiektSportowy.oswietlenie == true">
                    TAK
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.obiektSportowy.wymiary">Wymiary</span>
                    </td>
                    <td>
                        {{obiektSportowy.wymiary}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>



<br>

    

    <button type="submit"
            ui-sref="obiektSportowy"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
