<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<div>
<div class="document">
    <h2 class="text-center">{{grafik.nazwa}}</h2>
    <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                
                <tr>
                    <td>
                        <span translate="wzpnApp.grafik.opis">Opis</span>
                    </td>
                    <td>
                        {{grafik.opis}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.grafik.rozpoczecie">Rozpoczecie</span>
                    </td>
                    <td>
                        {{grafik.rozpoczecie | date:"MM/dd/yyyy 'godzina ' HH:mm"}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.grafik.pierwszaDruzyna">pierwszaDruzyna</span>
                    </td>
                    <td>
                       {{grafik.pierwszaDruzyna.nazwa}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.grafik.drugaDruzyna">drugaDruzyna</span>
                    </td>
                    <td>
                       {{grafik.drugaDruzyna.nazwa}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.grafik.obiektSportowy">obiektSportowy</span>
                    </td>
                    <td>
                       {{grafik.obiektSportowy.nazwa}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Wynik</span>
                    </td>
                    <td>
                       {{grafik.wynik.wynik}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.wynik.bramkiPierwszej">BramkiPierwszej</span>
                    </td>
                    <td>
                        {{grafik.wynik.bramkiPierwszej}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.wynik.bramkiDrugiej">BramkiDrugiej</span>
                    </td>
                    <td>
                        {{grafik.wynik.bramkiDrugiej}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.wynik.zoltePierwszej">ZoltePierwszej</span>
                    </td>
                    <td>
                        {{grafik.wynik.zoltePierwszej}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.wynik.zolteDrugiej">ZolteDrugiej</span>
                    </td>
                    <td>
                       {{grafik.wynik.zolteDrugiej}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.wynik.czerwonePierwszej">CzerwonePierwszej</span>
                    </td>
                    <td>
                       {{grafik.wynik.czerwonePierwszej}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.wynik.czerwoneDrugiej">CzerwoneDrugiej</span>
                    </td>
                    <td>
                       {{grafik.wynik.czerwoneDrugiej}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.wynik.uwagi">Uwagi</span>
                    </td>
                    <td>
                        {{grafik.wynik.uwagi}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="div-to-right">
    Podpis ustalającego mecz:
    <br> <br>
    .............................................
    </div>
</div>
<br>
    <button type="submit"
            ui-sref="grafik"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
        <button ui-sref-active="active" has-role="SEDZIA" ng-disabled="isDisableAdd" class="btn btn-primary" data-toggle="modal" data-target="#saveWynikModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span>Dodaj Wynik</span>
    </button>
    <button ui-sref-active="active" has-role="SEDZIA" ng-disabled="isDisableEdit"
                        		type="submit"
                                ng-click="update(grafik.wynik.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<!-- <span translate="entity.action.edit"> --><span>Edytuj Wynik</span>
                        </button>
    <div class="modal fade" id="saveWynikModal" tabindex="-1" role="dialog" aria-labelledby="myWynikLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myWynikLabel" translate="wzpnApp.wynik.home.createOrEditLabel">Create or edit a Wynik</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="wynik.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="wzpnApp.wynik.wynik">Wynik</label>
                            <input type="text" class="form-control" name="wynik"
                                   ng-model="wynik.wynik">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.bramkiPierwszej">BramkiPierwszej</label>
                            <input type="text" class="form-control" name="bramkiPierwszej"
                                   ng-model="wynik.bramkiPierwszej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.bramkiDrugiej">BramkiDrugiej</label>
                            <input type="text" class="form-control" name="bramkiDrugiej"
                                   ng-model="wynik.bramkiDrugiej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.zoltePierwszej">ZoltePierwszej</label>
                            <input type="text" class="form-control" name="zoltePierwszej"
                                   ng-model="wynik.zoltePierwszej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.zolteDrugiej">ZolteDrugiej</label>
                            <input type="text" class="form-control" name="zolteDrugiej"
                                   ng-model="wynik.zolteDrugiej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.czerwonePierwszej">CzerwonePierwszej</label>
                            <input type="text" class="form-control" name="czerwonePierwszej"
                                   ng-model="wynik.czerwonePierwszej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.czerwoneDrugiej">CzerwoneDrugiej</label>
                            <input type="text" class="form-control" name="czerwoneDrugiej"
                                   ng-model="wynik.czerwoneDrugiej">

                        </div>
                        <div class="form-group">
                            <label translate="wzpnApp.wynik.uwagi">Uwagi</label>
                            <input type="text" class="form-control" name="uwagi"
                                   ng-model="wynik.uwagi" >

                        </div>
<!--                         <div class="form-group">    -->
<!--                         <label translate="wzpnApp.wynik.grafik">Grafik</label>                        -->
                          <!--  <input type="text" class="input-sm form-control" name="grafik" value="{{grafik.id}}" readonly>
							-->
<!-- 							<input type="text" class="form-control" name="grafik" -->
<!--                                    ng-model="wynik.grafik.id" > -->
<!--                         </div> -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
