<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div>
<div class="document">
    <h2 class="text-center">{{druzyna.nazwa}}</h2>
    <br>
    <div class="table-responsive">
        <table class="table table-striped">
           
            <tbody>
                <tr>
                    <td>
                        <span translate="wzpnApp.druzyna.usunieta">Usunieta</span>
                    </td>
                      <td ng-if="druzyna.usunieta == null || druzyna.usunieta == false ">
                    NIE
                    </td>
                    <td ng-if="druzyna.usunieta == true">
                    TAK
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.druzyna.zawieszona">Zawieszona</span>
                    </td>
                      <td ng-if="druzyna.zawieszona == null || druzyna.zawieszona == false ">
                    NIE
                    </td>
                    <td ng-if="druzyna.zawieszona == true">
                    TAK
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.druzyna.prezes">Prezes</span>
                    </td>
                    <td>
                        {{druzyna.prezes}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.druzyna.adres">Adres</span>
                    </td>
                    <td>
                        {{druzyna.adres}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.druzyna.telefon">Telefon</span>
                    </td>
                    <td>
                        {{druzyna.telefon}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.druzyna.email">Email</span>
                    </td>
                    <td>
                        {{druzyna.email}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.druzyna.strona">Strona</span>
                    </td>
                    <td>
                        {{druzyna.strona}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.druzyna.trenerzy">Trenerzy</span>
                    </td>
                    <td>
                        {{druzyna.trenerzy}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.druzyna.opis">Opis</span>
                    </td>
                    <td>
                        {{druzyna.opis}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="wzpnApp.druzyna.liga">liga</span>
                    </td>
                    <td>
                       {{druzyna.liga.nazwa}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
    <button type="submit"
            ui-sref="druzyna"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
